.series {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

    @media (min-width: 768px) {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .series-box-head {
        display: flex;
        gap: 0rem;
    
        
        @media (min-width: 768px) {
            gap: 8rem;
            
        }

       

        .image-box {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -10px;

            @media (min-width: 768px) {
                margin-left: 0px;
            }

            .side-image-box {
                display: flex;
                justify-content: center;
                position: relative;

                .side-image {
                    height: 40px;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    object-fit: cover;
                    @media (min-width: 768px) {
                        height: 95px;
                    }
                }
            }

            .main-image {
                height: 40px;
                position: absolute;
                top: 0px;
                left: 30%;
                @media (min-width: 768px) {
                    height: 95px;
                }


            }
        }

        .series-quantity {
            font-size: 16px;
            font-weight: 600;
            

            @media (min-width: 768px) {

                font-size: 30px;
            }
        }
    }

    .series-list {
        margin-top: 1rem;

        @media (min-width: 768px) {

            margin-top: 2rem
                /* 32px */
            ;

        }
    }

    .series-list-item {
        display: flex;
        gap: 1rem;

        @media (min-width: 768px) {
            gap: 8rem;
        }

        @media (min-width: 1024px) {
            gap: 11rem;

            @media (min-width: 768px) {
                gap: 8rem;
            }
        }

        .series-list-image {
            height: 100px;
            cursor: pointer;

            @media (min-width: 768px) {
                height: 250px;
            }
        }

        .series-list-details {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .wishlist-button {
            font-weight: bold;
            padding: 0.1rem;
            width: 12rem;
            color: #FFD700;
            border: 1px solid #FFD700;
            font-size: 14px;
            letter-spacing: 0.1rem;
            background: #FFF;
            border-radius: 0.25rem;
            padding: 5px;
            @media (min-width: 768px) {
                font-size: 16px;
            }

        }
    }


}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.book-name {
    font-size: 16px;
    font-weight: 600;

    @media (min-width: 768px) {
        font-size: 20px;
        font-weight: 600;
    }
}