.how-it-works {
    .steps {
        display: flex;
        flex-direction: column;
        .step {
            padding: 5rem 1.5rem;
            .step-number {
                background-color: #DBDBDB;
                border: 0.5px solid #4285F4;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #4285F4;
                height: 45px;
                margin: 0px auto 3rem auto;
            }
            .step-content {
                margin: auto;
                width: min(800px, 100%);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 1.5rem;
                .step-info {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    text-align: right;
                    .step-info-heading {
                        display: flex;
                        gap: 1rem;
                        justify-content: flex-end;
                        h2 {
                            color: #4285f4;
                            font-size: 1.5rem;
                            &:first-child {
                                color: black;
                                padding-right: 1rem;
                                border-right: 1px solid #4285f4;
                            }
                        }
                    }
                }
                .step-image {
                    width: 30%;
                }
            }
            &:nth-child(odd) {
                background-color: rgba(66, 133, 244, 0.1);
            }
        }
    }
    a {
        background-color: #4285F4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 40px;
        padding: 0px 1.5rem;
        border-radius: 3px;
        width: 200px;
        font-weight: bold;
        margin: 3rem auto;
    }
    @media (max-width: 812px) {
        .steps {
            .step {
                .step-content {
                    padding-bottom: 3rem;
                    position: relative;
                    gap: 3rem;
                    flex-direction: column !important;
                    .step-info, .step-image {
                        width: 100%;
                        .step-info-heading {
                            h2 {
                                font-size: 1.25rem;
                            }
                        }
                    }
                    .step-info {
                        text-align: left !important;
                        align-items: flex-start !important;
                    }
                    .step-image {
                        text-align: center !important;
                    }
                }
            }
        }
    }
}