.your-library {
  > h3 {
    text-align: center;
    background-color: rgba(66, 133, 244, 0.2);
    padding: 1rem 0px;
  }
  .bucket {
    background-color: #f3f1f1;
    width: 100%;
    border-radius: 5px;
    padding: 3rem 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .bucket-details {
      margin: 1.5rem auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .bucket-list {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        .bucket-book {
          position: relative;
          padding: 0.5rem;
          background-color: #f1f1f0;
          max-height: 200px;
          width: 150px;
          img {
            height: 100%;
            width: 100%;
          }
          .bucket-book-overlay {
            color: #ffffff;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: none;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            left: 0px;
            top: 0px;
            text-align: center;
            border-radius: 5px;
            svg {
              border-radius: 50%;
              background-color: red;
              display: flex;
              padding: 0.25rem;
              font-size: 2rem;
            }
          }
          .show-overlay {
            display: flex;
          }
        }
      }
    }
    .bucket-actions {
      display: flex;
      gap: 1rem;
      justify-content: center;
      button {
        font-size: 0.9rem;
        border: 0px;
        color: #ffffff;
        text-align: center;
        width: 120px;
        height: 35px;
        background-color: #4285f4;
        border-radius: 3px;
        &:first-child {
          color: rgb(0, 0, 0, 0.6);
          background-color: transparent;
          border: 1px solid rgb(0, 0, 0, 0.6);
        }
      }
    }
    .create-bucket {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 200px;
      margin-top: 1rem;
    }
    .date-button {
      position: relative;
      border: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 300px;
      max-width: 100%;
      height: 35px;
      font-size: 1rem;
      margin: 0.75rem auto;
      * {
        cursor: pointer;
      }
      input[type="date"] {
        position: absolute;
        right: 0;
        opacity: 0;
        height: 100%;
        &::-webkit-calendar-picker-indicator {
          color: red;
          width: 150px;
        }
      }
      svg {
        margin-top: -0.125rem;
      }
    }
    .time-date {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-evenly;
      width: min(500px, 100%);
      margin: auto;
      .time-date-column {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }
    .empty-bucket {
      margin: 1.5rem 0px;
    }
  }
  .wishlist {
    background-color: #4285f4;
    padding: 1.5rem 0px;
    h3 {
      color: white;
      text-align: center;
    }
    .book-slider {
      margin: 0px;
      .book-overlay {
        position: relative;
        button {
          border-radius: 0px !important;
        }
      }
      .high-priority {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .low-priority {
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }
    .empty-wishlist {
      margin: 2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      color: white;
      img {
        height: max(150px, 20vw);
      }
      span {
        font-size: max(2rem, 4vw);
      }
    }
  }
  .suggestions,
  .archives {
    .book-slider {
      .title {
        text-align: center;
        border: 0px;
        margin: 0.5rem 0px;
      }
    }
  }
  .archives {
    .archive {
      > h3 {
        font-family: Ubuntu;
        text-align: center;
      }
      &:last-child {
        border: 0px;
      }
    }
    .archive-empty {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 3rem;
      margin: 3rem auto;
      justify-content: center;
      color: #b0afaf;
      padding: 3rem 1rem;
      img {
        height: max(150px, 15vw);
      }
      h1 {
        font-size: max(2rem, 4vw);
      }
    }
    .book-slider {
      .book-list {
        justify-content: center !important;
      }
      .book {
        -webkit-filter: grayscale(1);
        &:hover {
          -webkit-filter: none;
        }
      }
    }
  }
  @media (max-width: 1068px) {
    > h3 {
      margin-top: 1rem;
      border-radius: 0px;
      border-width: 3px 0px;
    }
  }
}
